<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>


<div class="container">
      <h1>Register</h1>
      <form method="POST" action="/signup/post">

        <label>Enter your Name</label>
        <input class="form-control" type="text" name="username">
        <label>Enter your E-mail</label>
        <input class="form-control" type="text" name="email">
        <label>Enter your Password</label>
        <input class="form-control" type="password" name="password"><br>
        {% csrf_token %}
        <button class="btn btn-primary btn-block">Submit</button>
      </form>
</div>
</body>
</html>
