<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
    <!-- 將標題區塊化 -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    
</head>
<body>
    <div>
        <!-- 連接回主頁 -->

            <h3>登入你的資料</h3>

        </a>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
